body {
  background-color: #181818;
}

h1 {
  color: white;
  font-size: 5em;
  padding: 20px 40px 0px 40px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 2em;
}

#subheader {
  color: white;
  font-size: 1em;
  padding: 10px;
  text-align: center;
  letter-spacing: 5px;
}

#description {
  color: white;
  padding: 0px 25px;
  font-size: small;
}

#portrait {
  width: 250px;
}

#buttons {
  text-align: center;
}

#linkedin {
  width: 75px;
}

#github {
  width: 75px;
}

#content,
#content2 {
  padding: 10px;
  background-color: #202020;
}

#navbar {
  background-color: #181818;
}
